# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
brickowl-wishlist-upload
brickowl-wishlist-*.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Ignore files for local running
missing-parts.json
brickowl-wishlist-upload.sh
.vscode